
src/
.config/
.cache/
.babelrc
.eslintignore
.eslintrc
.gitignore
gulpfile.js
tsconfig.json
tslint.json
yarn.lock
yarn-error.log
!dist/
!es/
!lib/
packages/
lerna.json
.yarnrc
index.ts
.prettierrc.js
build/
docs/
examples/
.vscode/
.vscode/
.nyc_output/
._book/
.vscode/
coverage/
src/**/*

jest.config.js

__test__/**/*
